<mat-accordion>
    <form [formGroup] = "addNotifyForm" (ngSubmit) = "addNotify()">
        <h3>Add a Notification</h3>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Notification Title</mat-label>
                <input matInput  formControlName="notifyTitle" [(ngModel)] = "notifyAdd.notifyTitle" >
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Notification Description</mat-label>
                <input matInput  formControlName="notifyDescription" [(ngModel)] = "notifyAdd.notifyDescription" >
            </mat-form-field>
        </div>
        <div>
            <button id="btnPad" class="btn btn-outline-info mr-1" rounded="true" mdbWavesEffect mdbBtn>Create Notification</button>
        </div>
    </form>

    <br>

    <h2>Notifications</h2>

    <div *ngFor = "let notification of notifications">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{notification.notifyTitle}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <div >
                    <a>{{notification.notifyDescription}}</a>
                </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </div>
</mat-accordion>
