<header>
    <div class="container">
        <img src="assets/wfh-logo-white.png" routerLink="/userpage" alt="logo-white" class="logo">

        <nav>
    
            <ul>
                
                <!-- <li>
                    <a *ngIf="authenticationService.isUserLoggedIn()">Hello, {{fname}}</a>
                </li> -->
                <li>
                    <a *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
                </li>
                <li>
                    <a *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/register" class="nav-link">Register</a>
                </li>
                <li>
                    <a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
                </li>
            
            </ul>
        </nav>

    </div>
</header>

