<header>
    <div class="container">
        <img src="assets/wfh-logo-white.png" alt="logo-white" class="logo">

        <nav>
    
            <ul>
               
              <!-- <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">View Employees</a></li>
              <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
              <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
              <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li> -->
        
                <li>
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                <li>
                    <a routerLink="/register" class="nav-link">Register</a>
                </li>
                <li>
                    <a routerLink="/logout" class="nav-link">LogOut</a>
                </li>
            
            </ul>
        </nav>

    </div>
</header>

