<mat-accordion>
    <div class="text-center normal">
        <button (click)="toggleShow()" id="btnPad" class="btn" rounded="true">
          <div *ngIf="showAdd">
            <h3>Add a Meeting</h3>
            <span class="material-icons">
              arrow_drop_up
            </span>
            
          </div>
          <div *ngIf="!showAdd">
            <h3>Add a Meeting</h3>
            <span class="material-icons">
              arrow_drop_down
            </span>     
          </div>
        </button>
      </div>
    <form [formGroup] = "addMeetingForm" (ngSubmit) = "addMeeting()" *ngIf="showAdd">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Meeting Description</mat-label>
                <input matInput  formControlName="meetDescription" [(ngModel)] = "meetingAdd.meetDescription" >
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Meeting Link</mat-label>
                <input matInput  formControlName="meetLink" [(ngModel)] = "meetingAdd.meetLink" >
            </mat-form-field>
        </div>
        <div>
            <button id="btnPad" class="btn btn-outline-info mr-1" rounded="true" mdbWavesEffect mdbBtn>Create Meeting</button>
        </div>
    </form>

    <br>

    <h2>Meetings</h2>
    <div *ngFor = "let meeting of meetings">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                {{meeting.meetDescription}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
               <div >
                   <a>{{meeting.meetLink}}</a>
               </div>
            </mat-panel-description>
        </mat-expansion-panel>
    </div>
</mat-accordion>